<div id="menu">
    <a class="menu-first" ui-sref="home">
        <i class="glyphicon glyphicon-home"></i>
        首页
    </a>
    <a class="menu-first" ui-sref="menulist">
        <i class="glyphicon glyphicon-home"></i>
        菜单管理
    </a>
</div>