#menu {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  border-right: 1px solid #999;
}
#menu .menu-first {
  display: inline-block;
  width: 100%;
  height: 45px;
  padding: 0;
  margin: 0;
  line-height: 45px;
  text-decoration: none;
  padding-left: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}
#menu .menu-first > i {
  margin-right: 10px;
}
#menu .menu-first:hover {
  color: #1890ff;
}
#menu .menu-active {
  border-right: 3px solid #1890ff;
  background-color: #e6f7ff;
  color: #1890ff;
}
