<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <% for (var i=0;i<libs.css.length;i++) { %>
        <link rel="stylesheet" href="<%= libs.css[i] %>">
        <% } %>
        <% for (var i=0;i<libs.js.length;i++) { %>
            <script src="<%= libs.js[i] %>" type="text/javascript" charset="utf-8"></script>
        <% } %>
        <title>管理系统</title>
    </head>
    <body ng-app="myApp">
        <div class="row" id="main" ng-controller="mainController" ui-view="main">
            <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs" id="leftMenu">
                <div ui-view="left"></div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 hidden-xs" id="mainContent">
                <div ui-view="right"></div>
            </div>
        </div>
    </body>
</html>