html,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  #main{
    width: 100%;
    height: 100%;
  }
  #leftMenu{
    height: 100%;
    .ng-scope{
      width: 100%;
      height: 100%;
    }
  }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 6px;
  height: 16px;
  background-color: rgba(69,69,69,.3);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(69,69,69,.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(69,69,69,.3);
  background-color: #555;
}