<div id="sss" ng-controller="menuList">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>active</th>
                <th>success</th>
                <th>warning</th>
                <th>danger</th>
                <th>info</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td>active</td>
                <td>success</td>
                <td>warning</td>
                <td>danger</td>
                <td>info</td>
            </tr>
            <tr>
                <td>active</td>
                <td>success</td>
                <td>warning</td>
                <td>danger</td>
                <td>info</td>
            </tr>
            </tr>
        </tbody>
    </table>
</div>