@showText:#1890ff;
#menu {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  border-right: 1px solid #999;
  .menu-first{
    display: inline-block;
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-decoration: none;
    padding-left: 20px;
    font-size: 16px;
    color: rgba(0,0,0,0.65);
    &>i{
      margin-right: 10px;
    }
    &:hover{
      color: @showText;
    }
  }
  .menu-active{
    border-right: 3px solid @showText;
    background-color: #e6f7ff;
    color: @showText;
  }
}