html,
body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html #main,
body #main {
  width: 100%;
  height: 100%;
}
html #leftMenu,
body #leftMenu {
  height: 100%;
}
html #leftMenu .ng-scope,
body #leftMenu .ng-scope {
  width: 100%;
  height: 100%;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 16px;
  background-color: rgba(69, 69, 69, 0.3);
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(69, 69, 69, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(69, 69, 69, 0.3);
  background-color: #555;
}
